<!DOCTYPE html>
<html>
<head>
	<title>Alcacer's BBC</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
	<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" />
</head>
<body>
	<div id= "container">
		<div id = "topbar">
			<div class = "fixedwidth">
				<div id="bbclogo">
					<img src="{{url_for('static', filename='css/images/BBC.PNG')}}" />
				</div>
			
				<div id="signin">
					<img src="{{url_for('static', filename='css/images/Signin.PNG')}}" /><a href="https://session.bbc.com/session?ptrt=https%3A%2F%2Fwww.bbc.com%2Fnews&context=news&userOrigin=news_gnl" target="_blank">Sign in</a>
				</div>
				<div id="topbarmenu">
					<ul>
						<li><a href="https://www.bbc.com/" target="_blank">Home</a></li>
						<li><a href="https://www.bbc.com/news" target="_blank">News</a></li>
						<li><a href="https://www.bbc.com/sport" target="_blank">Sport</a></li>
						<li><a href="https://www.bbc.com/reel" target="_blank">Reel</a></li>
						<li><a href="https://www.bbc.com/worklife" target="_blank">Worklife</a></li>
						<li><a href="https://www.bbc.com/travel" target="_blank">Travel</a></li>
						<li><a href="https://www.bbc.com/future" target="_blank">Future</a></li>
						<li><a href="https://www.bbc.com/culture" target="_blank">Culture</a></li>
						<li id="more"><a href="https://www.bbc.com/news#orb-footer" target="_blank">More</a></li>
					</ul>
				</div>
				<div id=searchbox>
					<form>
					<input type="text" placeholder="Search" name="">
					</form>
				</div>
				<div id = "submitbutton">
					<form>
						<input type="submit" value=""> 
					</form>
				</div>
			</div>
		</div>
		<div class="break"></div>
		<div id="secondbar">
			<div class="fixedwidth" style= "background-color:#bb1919;">
				<h1>NEWS</h1>
				<div id="secondbarmenu">
					<ul>
						<li><a href="https://www.bbc.com/news" target="_blank">Home</a></li>
						<li><a href="https://www.bbc.com/news/election/us2020" target="_blank">US Election</a></li>
						<li><a href="https://www.bbc.com/news/coronavirus" target="_blank">Coronavirus</a></li>
						<li><a href="https://www.bbc.com/news/video_and_audio/headlines" target="_blank">Video</a></li>
						<li><a href="https://www.bbc.com/news/world" target="_blank">World</a></li>
						<li><a href="https://www.bbc.com/news/uk" target="_blank">UK</a></li>
						<li><a href="https://www.bbc.com/news/business" target="_blank">Business</a></li>
						<li><a href="https://www.bbc.com/news/technology" target="_blank">Tech</a></li>
						<li><a href="https://www.bbc.com/news/science_and_environment" target="_blank">Science</a></li>
						<li><a href="https://www.bbc.com/news/stories" target="_blank">Stories</a></li>
						<li><a href="https://www.bbc.com/news/entertainment_and_arts" target="_blank">Entertainment & Arts</a></li>
						<li><a href="https://www.bbc.com/news/health" target="_blank">Health</a></li>
						<li><a href="https://www.bbc.com/news/world_radio_and_tv" target="_blank">World News TV</a></li>
						<li><a href="https://www.bbc.com/news/in_pictures" target="_blank">In Pictures</a></li>
						<li style = "border-right:none; padding-right:0"><a href="https://www.bbc.com/news/reality_check" target="_blank">More</a></li>
					</ul>
					<img src="{{url_for('static', filename='css/images/Reddown.PNG')}}">
				</div>
			</div>
		</div>
		<div id="newsline">
			<div class=fixedwidth>
				<div class = "divwidth">
					<a href="https://www.bbc.com/news/world-europe-54082201" target="_blank"><div id="first">
						<h1>Fire destroys Greece's largest migrant camp</h1>
						<p>Nearly 13,000 migrants lived at the camp on the island of Lesbos - four times the number it can hold.</p>
					</div></a>
					<p class="time">1h &nbsp;<a href="https://www.bbc.com/news/world/europe" target="_blank">Europe</a></p>
				</div>
				<div>
					<a href="https://www.bbc.com/news/av/world-europe-37414030" target="_blank"><img src="{{url_for('static', filename='css/images/news1.PNG')}}"></a>
				</div>
			</div>
			<div id="common">
				<div class = "divwidth">
					<a href="https://www.bbc.com/news/world-europe-54079337" target="_blank"><div id="second">
						<img src="{{url_for('static', filename='css/images/news2.PNG')}}">
						<h4>Diplomats surround 'harassed' Belarus Nobel winner</h4>
						<p>European diplomats gather with Svetlana Alexievich after she said masked men tried to enter her home.</p>
					</div></a>
					<p class="time" style = "padding-left: 23px">1h &nbsp;<a href="https://www.bbc.com/news/world/europe" target="_blank">Europe</a></p>
				</div>
				<div class = "divwidth">
					<a href="https://www.bbc.com/news/world-middle-east-54085129#:~:text=US%20to%20withdraw%202%2C200%20troops%20from%20Iraq%20by%20end%20of%20September,-4%20days%20ago&text=The%20US%20will%20withdraw%20more,5%2C200%20to%203%2C000%20during%20September." target="_blank"><div id = "third">
						<img src="{{url_for('static', filename='css/images/news3.PNG')}}">
						<h4>US to withdraw 2,200 troops from Iraq within weeks</h4>
						<p>The remaining 3,000 personnel will continue to assist Iraqi forces combating the remnants of IS.</p>
					</div></a>
					<p class="time" style = "padding-left: 23px">1h &nbsp;<a href="https://www.bbc.com/news/world/middle_east" target="_blank">Middle East</a></p>
				</div>
			</div>
		</div>
		<div class="break"></div>
		
		<div class = "fixedwidth">
			<ul id="last">
				<li style = "list-style-image: url('static/css/images/Arrow.PNG')"><a href="https://www.bbc.com/news/av/world-europe-37414030" target="_blank">Migrants flee burning Moria camp</a></li>
				<li><a href="https://www.bbc.co.uk/news/world-europe-53925209" target="_blank">How the migrant crisis changed Europe</a></li>
				<li><a href="https://www.bbc.co.uk/news/world-europe-53764449" target="_blank">Med's deadly migrant crisis: In maps and charts</a></li>
			</ul>
		</div>	
	</div>
</body>
</html>

